* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 300px;
  border: 1px solid red;
  margin: 0 auto;
}

.box ul {
  /* list-style-position: outside;
  list-style-type: upper-roman; */
  list-style: inside disc;
}

.songs {
  border: 1px solid red;
  width: 300px;
  margin: 30px auto;
}

.songs h2 {
  display: list-item;
  list-style: inside decimal;
}
