@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.container {
    @include gridContainer(3, 20px);

    @include screen(tablet) {
        @include gridContainer(2, 20px);
    };

    @include screen(mobile) {
        @include gridContainer(1, 20px);
    };

    .card {
        padding: 20px;
        background: orange;

        @include screen(mobile) {
            border-radius: 30px
        };
    }
}

@media (max-width: 575px) {
    .container {
        @include gridContainer(1, 20px);
    }
}