.content {
  border: 1px solid red;
}

.content h1 {
  /* transition-property: padding-left, padding-top, color;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; */
  transition: 0.4s linear;
  transition-property: padding-left, padding-top;
}

.content h1:hover {
  padding-left: 200px;
  padding-top: 100px;
  color: red;
}
